<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319490436021-pdevnb8sbh4s2a2n091ha2rdh1e0cfaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319490436021-pdevnb8sbh4s2a2n091ha2rdh1e0cfaq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319490436021-17q8a5kaqimovsv72ihb0ueevthohqtf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi6C00l44Z9ao6a_pbcy42PbkIyTzlmks</string>
	<key>GCM_SENDER_ID</key>
	<string>319490436021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scrapit</string>
	<key>PROJECT_ID</key>
	<string>scrapit-99d49</string>
	<key>STORAGE_BUCKET</key>
	<string>scrapit-99d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319490436021:ios:af6137c6d1533c9c4607fc</string>
</dict>
</plist>